*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body{
    width: 100%;
    min-height: 100%;
}

/* FONDO PRINCIPAL */
body{
    background: url("/Assets/Img/img1.jpg") center / cover no-repeat;
}

/* CONTENEDORES */
.Container{
    width: 100%;
}

/* OVERLAY OSCURO */
.Shadow{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

/* CONTENIDO */
.SubContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nav */
.Nav{
    width: 100%;
    min-height: 70px;

}
nav{
    background-color: black;
    width: 100%;
}
nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
h1{
    margin-top: 15px;
    color: white;
    text-align: center;
    margin-left: 25px;
    font-size: 35px;
    margin-right: 35px;
}
.Bar{
    margin-top: 15px;
    margin-left: 15px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    font-size: 35px;
    list-style:none;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 5px;
    border :1px solid white;
}
a{
    list-style:none;
    text-decoration: none;
    color: white;
}
.Content{
    width: 100%;
    height: 100%;
}
.ti{
    text-align: left;
    margin-left: 125px;
    text-shadow: 6px 5px 5px black;

}
.InformacionP{
    border: 1px solid black;
    border-radius: 25px;
    text-align: left;
    justify-content: left;
    margin-inline-start: 50px;
    width: 350px;
    background-color: rgb(255, 228, 196, 0.2);
}
.Ul_info{
    margin-left: 15px;
    text-decoration: none;
    list-style: none;
}
li{
    color: white;
    font-size: 20px;
}
.Ul_inf1{
    color: rgb(188, 171, 171);
    margin-left: 60px;
    font-size: 18px;
}
.Resumen{
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.276);
    margin-top: 25px;
    background-color: rgba(243, 243, 229, 0.115);
}
.h2_Re{
    color: white;
    margin-top: 5px;
    text-align: center;
    justify-content:center;
    font-size: 35px;
    text-shadow: 6px 5px 5px black;
}
#p1{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    margin: 15px;
    text-shadow: 3px 3px 3px black;

}
#p2{
     color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 15px;
    margin: 15px;
    text-shadow: 3px 3px 3px black;

}
#h2Form{
    width: 100%;
    margin-top:45px;
    text-align: center;
    color: white;
    font-size: 45px;
    text-shadow: 6px 5px 5px black;
}

.Formaciones{
    width: 100%;
    height: 100%;
    border:4px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    background-color: rgba(113, 110, 110, 0.164);
    border-radius: 15px;
}

.FormacionA,.FormacionCom{
    width: 50%;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border:none;
 
}

#h2_FA{
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
}

#Title_Form{
    color: white;
    margin-left: 10px;
    display: flex;
    font-size: 20px;
    text-shadow: 5px 5px 5px black;
    margin-top: 15px;
}

#Sub_form{
    width: 100%;
    text-shadow: 3px 2px 3px black;
    font-size: 20px;
    font-weight: lighter;
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
}

#Ter_form{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 5px;
    text-shadow: 5px 5px 5px black;
}

#p_form{
    color: white;
    margin-bottom: 55px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    justify-content: stretch;
    text-shadow: 2px 3px 2px black;
}
.Skills{
    margin-top: 3%;
    width: 50%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(208, 202, 195, 0.219);
    align-items: center;
}
h4{
    margin-top: 3%;
    font-size: 45px;
    margin-left: 3%;
}
#ul_Skills{
    margin-left: 5%;
    text-shadow: 3px 5px 3px black ;

}
#li_skills{
    text-shadow: 3px 3px 3px black ;
    font-size: 25px;
    font-weight: bold;
}
#ul_len{
    font-weight: lighter;
    margin: 1%;
     margin-left: 5%;
}
#Btt_Pro{
    margin-top: 5%;
    padding: 3%;
    width: 35%;
    margin-bottom: 5%;
    background: rgba(50, 132, 63, 0.443);
    border-radius: 15px;
    border: 3px solid black;
}
#bt_proy{
    font-size: 25px;
    font-weight: bold;
}
/* Animacions */
.Bar:hover{
    background-color: rgb(57, 57, 57);
    animation: alternate;
    transition-duration: 0.2s;
    font-size: 40px;
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: brown;
    border: 5px solid rgb(95, 130, 12);
}
.Nav_A:hover{
        color: rgb(28, 158, 31);
}
h1:hover{
        color: red;
        transition-duration: 0.2s;
        transition: linear;
        font-size: 40px;
        margin-bottom: 25px;
        margin-top: 5px;
}
.InformacionP:hover{
     animation: alternate;
    transition-duration: 0.2s;
    font-size: 45px;
    .Ul_inf1:hover{
         animation: alternate;
    transition-duration: 0.2s;
          font-size: 25px;
          margin-left: 5%;
    }
}
.h2_Re:hover{
     animation: alternate;
    transition-duration: 0.2s;
    font-size: 65px;
    #p1:hover,#p2:hover{
        font-size: 105px;
    }
}
#p1:hover,#p2:hover{
     animation: alternate;
    transition-duration: 0.4s;
        font-size: 35px;
    }
#h2Form:hover{
     animation: alternate;
    transition-duration: 0.2s;
    font-size: 55px;
}
.FormacionA:hover{
     animation: alternate;
    transition-duration: 0.2s;
    font-size: 45px;
}
#Title_Form:hover,#Sub_form:hover{
     animation: alternate;
    transition-duration: 0.2s;
    font-size: 25px;
}
#p_form:hover,#Ter_form:hover{
     animation: alternate;
    transition-duration: 0.5s;
    font-size: 35px;
}
h4:hover{
     animation: alternate;
    transition-duration: 0.5s;
    font-size: 55px;
}
#ul_Skills:hover{
     animation: alternate;
    transition-duration: 0.5s;
    font-size:  45px;
    #li_skills{
         animation: alternate;
    transition-duration: 0.5s;
        font-size: 35px;
    }
}
#Btt_Pro:hover{
     animation: alternate;
    transition-duration: 0.5s;
    background: rgba(50, 132, 64, 0.832);
    cursor: pointer;
    border: 7px solid black;
    #bt_proy{
        color: rgb(179, 255, 0);
    }
}