*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}
body{
 background-image:url("/Assets/Img/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Principal Containers */
.Container{
    min-height: 100vh;

}
.shadow{
        background-color: rgb(0, 0, 0,0.5);
    min-height: 100vh;
    position: fixed;
    inset: 0;

}
.SubContainer{
  min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Nav */
.Nav{
    width: 100%;
    min-height: 70px;

}
nav{
    background-color: black;
    width: 100%;
}

nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
h1{
    margin-top: 15px;
    color: white;
    text-align: center;
    margin-left: 25px;
    font-size: 35px;
    margin-right: 35px;
}
.Bar{
    margin-top: 15px;
    margin-left: 15px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    font-size: 35px;
    list-style:none;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 5px;
    border :1px solid white;
}
a{
    list-style:none;
    text-decoration: none;
    color: white;
    text-align: center;
}
