*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
html,body{
    height: 100%;
}
body{
 background-image:url("/Assets/Img/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Principal Containers */
.Container{
    min-height: 100vh;

}
.shawod{
        background-color: rgb(0, 0, 0,0.5);
    min-height: 100vh;
    position: fixed;
    inset: 0;

}
.SubContainer{
    min-height: 100%;
}
/* Nav */
.Nav{
    width: 100%;
    height: 70px;

}
nav{
    background-color: black;
}
ul{
    width: 50%;
    height: 70px;
    display: flex;
    flex-direction: row;

}
h1{
    margin-top: 15px;
    color: white;
    text-align: center;
    margin-left: 25px;
    font-size: 35px;
    margin-right: 35px;
}
.Bar{
    margin-top: 15px;
    margin-left: 15px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    font-size: 35px;
    list-style:none;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 5px;
    border :1px solid white;
}
a{
    list-style:none;
    text-decoration: none;
    color: white;
    text-align: center;
}

/* Start title */
.title{
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 25px;
}
h2{
    color: white;
    font-size: 35px;
}
/* End Title */

/* Start QuickMenu */
.QuickMenu{
    width: 400px;
    height: 400px;
    background-color: rgb(69, 144, 144);
    margin-left: 330px;
    border: 5px solid rgb(70, 68, 68);
    border-radius: 15px;
    
    
}
h3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 45px;
    background-color: rgb(0, 0, 0 ,0.8);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;

}
.QuickMenuNav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    border-radius: 5px;
}
.QuickMenuLi{
    height: 110px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    list-style: none;
    border:1px solid black;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.Quick_A{
 display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60px;

    border: 2px solid white;
    border-radius: 10px;

    color: white;
    text-decoration: none;
    font-size: 25px;}
/* End QuickMenu */

/* Start Animations */
.Bar:hover{
    background-color: rgb(57, 57, 57);
    animation: alternate;
    transition-duration: 0.2s;
    font-size: 40px;
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: brown;
    border: 5px solid rgb(95, 130, 12);
}
.Nav_A:hover{
        color: rgb(28, 158, 31);
}
h1:hover{
        color: red;
        transition-duration: 0.2s;
        transition: linear;
        font-size: 40px;
        margin-bottom: 25px;
        margin-top: 5px;
}
.QuickMenu:hover{
 border: 5px solid rgb(71, 70, 70);
 border-radius: 5px;
 .SubTitle{
     border-radius: 5px;
 }
}
.QuickMenuLi:hover{
    background-color: rgb(35, 135, 145);
}
.Quick_A:hover{
    border:3px solid black;
    background-color: rgb(53, 91, 15);
    color:rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 35px;
    transition-duration: 0.2s;
    transition: linear;
}

/* End Animations */