* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  background-image: url("/Assets/Img/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Principal Containers */
.Container {
  min-height: 100vh;
}
.Shadow {
  background-color: rgb(0, 0, 0, 0.5);
  min-height: 100vh;
  position: fixed;
  inset: 0;
}
.SubContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Nav */
.Nav{
    width: 100%;
    min-height: 110px;
      position: relative;
    z-index: 10;

}
.Nav .nav-link,
.Nav .navbar-brand,
.active {
    color: rgb(255, 255, 255);
}

.Nav .nav-link:hover {
    color: #0d6efd;
}
.navbar .nav-link {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar .nav-link i,
.navbar .nav-link span {
    color: inherit;
}
/* End Nav */

/* Start General configuracion Acordeon */
.accordion {
  max-width: 900px;
  margin: auto;
}
.accordion-header {
  background-color: rgb(104, 92, 92);
}
.accordion-item {
  background-color: rgb(104, 92, 92);
}
.accordion-button,
.accordion-body {
  color: #ffffff !important;
  background-color: rgba(95, 93, 93, 0.574) !important;
}
h6,
span {
  color: rgb(255, 255, 255);
}
/* End General Configuracion Acordeon */
/* Start Content */
.Content {
  width: 100%;
  min-height: 100vh;
}
/* End Content */
h1 {
  text-align: center;
  margin: 25px 0px;
}
.Tecnologias{
    display: flex;
    justify-content: right;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.Tecnologias h3{
    text-align: center;
    margin-bottom: 10px;
}
.Tecnologias i{
    font-size: 30px;
}
/* Boton */
.btn-success {
  height: 100%;
  background-color: #0dbc28;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;  
}