* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  background-image: url("/Assets/Img/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Principal Containers */
.Container {
  min-height: 100vh;
}
.shadow {
  background-color: rgb(0, 0, 0, 0.5);
  min-height: 100vh;
  position: fixed;
  inset: 0;
}
.SubContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Nav */
.Nav {
  width: 100%;
  min-height: 70px;
}
nav {
  background-color: black;
  width: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
h1 {
  margin-top: 15px;
  color: white;
  text-align: center;
  margin-left: 25px;
  font-size: 35px;
  margin-right: 35px;
}
.Bar {
  margin-top: 15px;
  margin-left: 15px;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  font-size: 35px;
  list-style: none;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 1px solid white;
}
a {
  list-style: none;
  text-decoration: none;
  color: white;
  text-align: center;
}
.Content {
  width: 100%;
  height: 100%;
  display: flex;
}
h1 {
  margin-top: 25%;
  text-shadow: 5px 5px 5px black;
  font-size: 35px;
}
.Proyecto {
  margin-top: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 228, 196, 0.21);
}

.Tit {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Title {
  font-size: 25px;
  width: 75%;
  margin-left: 2%;
  margin-top: 2%;
  text-shadow: 5px 5px 5px black;
}
.Sub_title {
  width: 100%;
  font-size: 15px;
  margin-left: 3%;
  margin-top: 4%;
  text-shadow: 5px 5px 5px black;
  text-align: center;
}
.Tech {
  width: 100%;
  font-size: 15px;
  text-align: end;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 4%;
  text-shadow: 5px 5px 5px black;
}
.Descripcion {
  text-align: center;
  text-shadow: 5px 5px 5px black;
  margin: 2%;
}
.Botones {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #000;
  margin-top: 5%;
  
 
}
.A {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}
#Btt_Anterior,#Btt_Contacto{
  border-radius: 25px;
  border: 2px solid white;
  font-weight: bold;
  width: 25%;
}
#Btt_Anterior{
  background-color: rgba(255, 0, 0, 0.487);

}

#Btt_Contacto{
  background-color: rgba(0, 128, 0, 0.487);
}
/* Animations */
.Bar:hover{
    background-color: rgb(57, 57, 57);
    animation: alternate;
    transition-duration: 0.2s;
    font-size: 35px;
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: brown;
    border: 5px solid rgb(95, 130, 12);
}
.Nav_A:hover{
        color: rgb(28, 158, 31);
}
.Title:hover ,.Sub_title:hover,.Tech:hover,.Descripcion:hover{
    animation: alternate;
    transition-duration: 0.5s;
    font-size: 20px;
}
#Btt_Anterior:hover{
 animation: alternate;
    transition-duration: 0.5s;
  background-color: rgba(255, 0, 0, 0.896);
    border: 3px solid rgba(0, 0, 0, 0.311);
    
}
#Btt_Contacto:hover{
 animation: alternate;
    transition-duration: 0.5s;
  background-color: rgb(0, 128, 0);
    border: 3px solid rgba(0, 0, 0, 0.311);
    
}



